## Deliverable 2. Create a Customer Travel Destinations Map.

In [93]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import api_key_goog as g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [94]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:\Users\helpdesk\Documents\Data Analytics Bootcamp\Modules\Module 6\WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,60.39,58,90,8.05,overcast clouds
1,1,Kalmunai,LK,7.4167,81.8167,79.90,80,77,4.43,broken clouds
2,2,Kanel,SN,15.4916,-13.1763,96.85,24,50,4.23,scattered clouds
3,3,Belaya Gora,RU,68.5333,146.4167,63.39,34,32,14.47,scattered clouds
4,4,Yellowknife,CA,62.4560,-114.3525,50.32,61,75,3.00,broken clouds

In [97]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is your minimum desired temperature?'))
max_temp = float(input('What is your maximum desired temperature?'))

What is your minimum desired temperature?70
What is your maximum desired temperature?75

In [98]:
type(min_temp)

float

In [99]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df = city_data_df.rename(columns = {'Max Temp':'Max_Temp','Wind Speed':'Wind_Speed','Current Description':'Current_Description'})

temp_df = city_data_df[(city_data_df.Max_Temp >= min_temp) & (city_data_df.Max_Temp <= max_temp)]
temp_df

,City_ID,City,Country,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Current_Description
5,5,Hasaki,JP,35.7333,140.8333,73.18,65,26,12.57,scattered clouds
19,19,Puerto Ayora,EC,-0.7393,-90.3518,74.55,86,19,7.00,few clouds
24,24,Mahebourg,MU,-20.4081,57.7000,72.25,83,22,8.52,few clouds
38,38,Saint-Pierre,RE,-21.3393,55.4781,71.28,48,0,11.50,clear sky
46,46,Souillac,MU,-20.5167,57.5167,72.36,87,12,7.34,few clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Pouembout,NC,-21.1333,164.9000,71.35,55,77,8.99,broken clouds
679,679,Djambala,CG,-2.5447,14.7533,74.66,73,100,4.09,overcast clouds
685,685,Zemio,CF,5.0314,25.1361,71.96,79,27,2.68,scattered clouds
695,695,La Macarena,CO,2.1837,-73.7849,73.00,97,94,2.75,overcast clouds
700,700,Antsohihy,MG,-14.8796,47.9875,70.18,92,6,1.68,light rain

In [100]:
# 4a. Determine if there are any empty rows.
temp_df.isnull().values.any()

False

In [101]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = temp_df.dropna(axis='rows')
clean_df

,City_ID,City,Country,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Current_Description
5,5,Hasaki,JP,35.7333,140.8333,73.18,65,26,12.57,scattered clouds
19,19,Puerto Ayora,EC,-0.7393,-90.3518,74.55,86,19,7.00,few clouds
24,24,Mahebourg,MU,-20.4081,57.7000,72.25,83,22,8.52,few clouds
38,38,Saint-Pierre,RE,-21.3393,55.4781,71.28,48,0,11.50,clear sky
46,46,Souillac,MU,-20.5167,57.5167,72.36,87,12,7.34,few clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Pouembout,NC,-21.1333,164.9000,71.35,55,77,8.99,broken clouds
679,679,Djambala,CG,-2.5447,14.7533,74.66,73,100,4.09,overcast clouds
685,685,Zemio,CF,5.0314,25.1361,71.96,79,27,2.68,scattered clouds
695,695,La Macarena,CO,2.1837,-73.7849,73.00,97,94,2.75,overcast clouds
700,700,Antsohihy,MG,-14.8796,47.9875,70.18,92,6,1.68,light rain

In [102]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max_Temp", "Current_Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel_Name"] = ""
hotel_df.head(10)

,City,Country,Max_Temp,Current_Description,Lat,Lng,Hotel_Name
5,Hasaki,JP,73.18,scattered clouds,35.7333,140.8333,
19,Puerto Ayora,EC,74.55,few clouds,-0.7393,-90.3518,
24,Mahebourg,MU,72.25,few clouds,-20.4081,57.7000,
38,Saint-Pierre,RE,71.28,clear sky,-21.3393,55.4781,
46,Souillac,MU,72.36,few clouds,-20.5167,57.5167,
47,Katsuura,JP,73.24,clear sky,35.1333,140.3000,
50,Santa Isabel Do Rio Negro,BR,74.73,broken clouds,-0.4139,-65.0192,
57,Sao Joao Da Ponte,BR,71.51,light rain,-15.9292,-44.0078,
59,Benguela,AO,73.24,clear sky,-12.5763,13.4055,
61,Sambava,MG,71.87,light rain,-14.2667,50.1667,

In [103]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   
    
# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    
    # 6c. Get latitude and longitude from DataFrame
    lat_city = row['Lat']
    lng_city = row['Lng']
    location = f'{lat_city},{lng_city}'
    
    current_city = row['City']
    params['location'] = location
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    response = requests.get(base_url,params=params).json()

    # 6e. Make request and retrieve the JSON data from the search. 
    results = response['results']

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel_Name'] = results[0]['name']

    except (KeyError, IndexError):
        print(f'No hotel found in {current_city}.')
        hotel_df.loc[index, 'Hotel_Name'] = np.nan
        
print('Hotel search complete.')

No hotel found in Mangai.
No hotel found in Mbaiki.
No hotel found in Fonte Boa.
No hotel found in Wattegama.
No hotel found in Sembe.
No hotel found in Ippy.
Hotel search complete.

In [104]:
hotel_df

,City,Country,Max_Temp,Current_Description,Lat,Lng,Hotel_Name
5,Hasaki,JP,73.18,scattered clouds,35.7333,140.8333,Hotel Sunrise Choshi
19,Puerto Ayora,EC,74.55,few clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Mahebourg,MU,72.25,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
38,Saint-Pierre,RE,71.28,clear sky,-21.3393,55.4781,Lindsey Hôtel
46,Souillac,MU,72.36,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
...,...,...,...,...,...,...,...
674,Pouembout,NC,71.35,broken clouds,-21.1333,164.9000,Camping de Tipenga
679,Djambala,CG,74.66,overcast clouds,-2.5447,14.7533,Hotel Ravin D'or
685,Zemio,CF,71.96,scattered clouds,5.0314,25.1361,OCHA Office
695,La Macarena,CO,73.00,overcast clouds,2.1837,-73.7849,Hotel Punto Verde
700,Antsohihy,MG,70.18,light rain,-14.8796,47.9875,Hotel de Ville

In [105]:
check_hotel_df = hotel_df[(hotel_df.City == 'Mangai')]
check_hotel_df

       City Country  Max_Temp Current_Description   Lat      Lng Hotel_Name
138  Mangai      CD     73.31     overcast clouds -4.05  19.5333        NaN

In [106]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel_Name'])
len(clean_hotel_df)

68

In [108]:
# 8a. Create the output File (CSV)
output_data_file = r'C:\Users\helpdesk\Documents\Data Analytics Bootcamp\Modules\Module 6\WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [84]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure